* {
  margin: 0px;
  padding: 0px;
  font-family: 'Share Tech Mono', monospace;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  color: white;
  background-color: #2B3856;
  margin: 0;
  overflow: hidden;
}

.formcontainer {
  background-color: #828CA2;
  width: 18%;
  min-width: 250px;
  margin: auto;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-height: 75%;
}

.table_container {
  height: 79px;
  overflow-y: scroll;
  padding: 5px;
  margin: 15px;
  margin-bottom: 0;
  background-color: #59606F;
}

#roomentries {
  position: relative;
  top: -30px;
}

#lobby {
  padding: 15px;
}

.roomentry {
  display: flex;
  justify-content: space-between;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.roomentry:hover {
  background-color: #779CEF;
}

.players {
  color: #828CA2;
}

.roomentry img {
  width: 1em;
}

.pass {
  width: 1.2em;
}

.formbutton {
  width: calc(50% - 10px);
  float: left;
  background-color: #516AA2;
  height: 50px;
  padding: 5px;
  cursor: pointer;
  line-height: 50px;
  position: relative;
  top: -5px;
}

.btn_active {
  background-color: #828CA2;
}

form {
  padding: 10px;
  padding-bottom: 0;
}


.formcontainer span {
  color: rgba(0,0,0, 0.3);
  font-style: italic;
  text-align: center;
  padding: 15px;
  padding-bottom: 30px;
  display: block;
}

form input {
  border: none;
  border-bottom: 2px solid #516AA2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  background-color: rgba(0,0,0,0);
  font-size: 1.1em;
  margin: 10px;
  padding: 5px;
  color: white;
  width: calc(100% - 30px);
}

form input:focus {
  border-bottom: 2px solid #779CEF;
}

input.error {
  border-bottom: 2px solid #F02F71;
}

input.error:focus {
  border-bottom: 2px solid #F0542F;
}

#promptbox {
  background-color: #828CA2;
  display: flex;
  width: 250px;
  flex-direction: column;
  padding: 20px;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#promptbox div {
  display: flex;
  justify-content: center;
}

#promptbox button, #lobby button {
  flex-grow: 2;

  background-color: #516AA2;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
}

#promptbox button:hover, #lobby button:hover {
  background-color: #5772AF;
}

#promptbox button:active, #lobby button:active {
  background-color: #779CEE;
}


#promptbox input {
  border: none;
  border-bottom: 2px solid #516AA2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  background-color: rgba(0,0,0,0);
  font-size: 1.1em;
  margin: 10px;
  padding: 5px;
  color: white;
  width: calc(100% - 30px);
}

#promptbox input:focus {
  border-bottom: 2px solid #779CEF;
}

#promptboxContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0,0,0.7);
  z-index: 100;
}
